{% for project in site.projects %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
		<div class="row">
	{% endif %}
		<div class="6u">
			<section class="box projects">
				<img class="bgimage" src="{{ site.baseurl }}/assets/images/{{ project.image }}" alt="" />
        <div class="desc">
  				<h3><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h3>
  				{{ project.excerpt }}
        </div>
			</section>
		</div>
	{% if loopindex != 1 %}
    </div>
  {% endif %}
{% endfor %}
