<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body class="landing">
		{% include nav.html %}
		{% include banner.html %}

		<!-- Main TODO re-work this page to have a better product-look-->
		<section id="main" class="container">
			<section class="box special">
				<h3>{{ page.title }}</h3>
				<span class="date">{{ page.date | date_to_string }}</span>
				<p class="image featured">
					<img src="{{ site.baseurl }}/assets/images/{{ page.image }}" />
				</p>
				{{ page.content }}
			</section>
		</section>
		{% include footer.html %}

	</body>
</html>
