<!DOCTYPE HTML>
<html>
	{% include head.html %}
	<body class="landing">
		{% include nav.html %}
		{% include banner.html %}

		<section id="main" class="container">
			<section class="box special">
				<h3>{{ page.title }}</h3>
				<p>{{ page.description }}</p>
				<div class="row">
				  <div class="6u">
				    <img src="{{ site.baseurl }}/assets/images/{{ page.image }}" style="max-width: 100%; max-height: 100%; object-fit: cover;"/>
				  </div>
				  <div class="6u">
						{% if page.specs %}
							{% assign spec_rows = site.data.specs[page.specs] %}
				    	{% include table.html rows=spec_rows %}
						{% endif %}
				  </div>
				</div>
				{{ page.content }}
			</section>
		</section>
		{% include footer.html %}

	</body>
</html>
